.menuToggle 
	{
		position: relative;
		width: 30px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
	.menuToggle::before 
	{
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		background: #fff;
		transform: translateY(-10px);
		box-shadow: 0 10px #fff;
		transition: 0.5s;
	}
	.menuToggle::after 
	{
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		background: #fff;
		transform: translateY(10px);
		transition: 0.5s;
	}
	header.active .menuToggle::before 
	{
		transform: translateY(0px) rotate(45deg);
		box-shadow: 0 0 #fff;
	}
	header.active .menuToggle::after 
	{
		transform: translateY(0px) rotate(315deg);
	}
	header ul
	{
		display: none;
	}
	header.active ul
	{
		position: fixed;
		top: 80px;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 10000;
		width: 100%;
		height: calc(100vh - 80px);
		z-index: 1000;
		backdrop-filter: blur(20px);
		background: rgba(50,50,50,0.95);
		gap: 20px;
	}
	header.active ul li a
	{
		font-size: 2em;
	}

