@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body 
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #282828;
}
h1 {
    color: #fff;
    text-align: center;
}
p {
	color: #fff;
}
.bajarTexto {
	margin-top: 105px;
}
.container 
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 80px;
    margin-top: 25px;
}
.container .card 
{
	position: relative;
	width: 300px;
	height: 400px;
	background: var(--clr);
	border-radius: 20px;
	border-top-left-radius: 70px;
	overflow: hidden;
}
.container .card .box 
{
	position: absolute;
	inset: 10px;
	background: #282828;
	border-radius: 10px;
}
.container .card .box .icon 
{
	position: absolute;
	width: 140px;
	height: 140px;
	background:  var(--clr);
	border-bottom-right-radius: 50%;
	transition: 0.5s;
}
.container .card:hover .box .icon 
{
	width: 100%;
}
.container .card .box .icon::before 
{
	content: '';
	position: absolute;
	left: 0;
	bottom: -30px;
	width: 30px;
	height: 30px;
	background: transparent;
	border-top-left-radius: 30px;
	box-shadow: -5px -5px 0 5px  var(--clr);
}
.container .card .box .icon::after 
{
	content: '';
	position: absolute;
	right: -30px;
	top: 0px;
	width: 30px;
	height: 30px;
	background: transparent;
	border-top-left-radius: 30px;
	box-shadow: -5px -5px 0 5px  var(--clr);
}
.iconBx 
{
	position: absolute;
	inset: 10px;
	background: #282828;
	border-radius: 50%;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}

ion-icon 
{
	font-size: 4em;
	color: #fff;
	--ionicon-stroke-width: 20px;
}
.content 
{
	position: absolute;
	top: 150px;
	padding: 20px;
	text-align: center;
}
.content h3 
{
	color: #fff;
	font-size: 1.35em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.12em;
}
.content p 
{
	color: #fff;
	font-size: 0.95em;
	opacity: 0.75;
	margin: 0 0 10px;
}
.content a 
{
	background: var(--clr);
	display: inline-block;
	padding: 10px 25px;
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 30px;
	transition: 0.5s;
}
.content a:hover
{
	letter-spacing: 0.2em;
}

header 
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	backdrop-filter: blur(20px);
}
header .logo 
{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 2em;
}
header ul 
{
	position: relative;
	display: flex;
	gap: 40px;
}
header ul li 
{
	list-style: none;
}
header ul li a
{
	font-weight: 500;
	color: #fff;
	font-size: 1.25em;
	text-decoration: none;
}
header ul li.active a,
header ul li:hover a
{
	color: #30fe6c;
}

#home 
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: #222;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px;
}
#home::before 
{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50vw;
	height: 25vw;
	border-top-left-radius: 25vw;
	border-top-right-radius: 25vw;
	background: #30fe6c;
}
#home .content 
{
	position: relative;
	display: flex;
	gap: 10px;
	flex-direction: column;
	max-width: 650px;
	z-index: 10;
}
#home .content h2
{
	position: relative;
	font-size: 5em;
	color: #30fe6c;
}
#home .content p 
{
	position: relative;
	color: #fff;
	font-size: 1.2em;
	line-height: 1.6em;
}